/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --white: #fff;
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/*-------- FONTS --------*/
@font-face {
    font-family: 'manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf)
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

/*-------- ATTRIBUTION --------*/

.attribution { 
    position: relative;
    bottom: -40px;
    font-size: .75rem;
    text-align: center; 
}
.attribution a { 
    color: var(--bright-purple);
    font-weight: 600;
    position: relative;
    text-decoration: none;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}
.attribution a::before {
    background: var(--dark-purple);
    content: "";
    inset: 0;
    position: absolute;
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.attribution a:hover {
    color: var(--bright-purple);
}
.attribution a:hover::before {
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(1);
    transform-origin: left;
}

/*-------- MAIN STYLES --------*/
body {
    background: var(--light-grayish-blue);
    font-family: 'manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 4.625rem 1.5rem 5.5625rem 1.5rem;
}

.main {
    background: var(--white);
    max-width: 600px;
    border-radius: 0.625rem;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);

}

/* -------- MAIN CONTENT ---------- */

.main__img {
    border-radius: 0.625rem 0.625rem 0 0;
}

.main__content {
    padding: 2rem 2rem 1.5rem;
}

.main__heading {
    color: var(--very-dark-grayish-blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.0125rem;
}

.main__para {
    color: var(--desaturated-dark-blue);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
    padding-top: 0.75rem;
}

/* -------- SOCIAL ---------- */

.main__social {
    /* padding: 0 2rem 1.5rem; */
}

/* -------- USER ---------- */

.main__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;

    /* display: none; */
}

.main__avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 2.5rem;
}

.main__name {
    color: var(--very-dark-grayish-blue);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
}

.main__date {
    color: var(--grayish-blue);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
}

/* -------- SHARE ---------- */

.main__share {
    background: var(--very-dark-grayish-blue);
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    border-radius: 0rem 0rem 0.625rem 0.625rem;

    display: none; /* ------------------ */

}

.main__share-heading {
    color: var(--grayish-blue);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.3125rem;
    padding-right: 1rem;
}

/* -------- FLEX ---------- */
.main__flex--row {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.main__flex--col {
    display: flex;
    flex-direction: column;
}
.hide {
    display: none;
}

/* -------- MEDIA QUERIES ---------- */

/* 768px = 48rem */

@media (width >= 48rem) {
    .main {
        display: flex;
        max-width: 45.625rem;
        max-height: 17.5rem;
    }
    .main__img {
        width: 20rem;
        border-radius: 0.625rem 0 0 0.625rem;
    }

    .main__user-info {
        height: auto;
        padding: 0 2rem 2rem;
    }

    .main__share {

        .main__btn {
            display: none;
        }
    }
}